crewai==0.30.5
langchain>=0.0.197,<0.3.0
transformers>=4.40.0
torch>=2.1.0
accelerate>=0.20.3

pydantic>=2.4.2,<3.0.0  # Required by CrewAI 0.30.5

pysqlite3-binary

requests>=2.28,<2.32

streamlit>=1.20.0

pandas>=1.5.3
plotly>=5.15.0

python-dotenv>=1.0.0

rich>=13.7.0,<14.0.0
